html, body
{
  width: 100%;
  font-family: 'Anton', sans-serif;
}

button, h1, h2, h3,p
{
  font-family: 'Anton', sans-serif;
}

body
{
  margin: 0px;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}
.container__body
{
  width:1170px; 
  height: 900px;
} 
h1
{
  color: rgb(0, 0, 0);
  font-size: 44px; 
  text-align:center;
} 
.paragraf
{ 
  font-size: 20px;
  line-height: 5px;
  display: flex;
  flex-direction: column;
  background-color: #545692;
  padding: 10px;
}

.btn
{
  background-color: #1ea6c8;
  width: 100px;
  height: 50px;
  border: 1px solid  #1e48c8 ;
  border-radius: 8px;
}
  
.spisok1{ 
  font-size: 20px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  background-color: #65a046;
  padding: 10px;
}
.spisok2{ 
  font-size: 20px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  background-color: #925454;
  padding: 10px;
} 
.img
{
  width: 100vw;
 
}
.title
{ 
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 151px;
  margin-top: 28px;
} 
.buttont
{
  margin-top: 20px;
  box-sizing: border-box;
  font-family: 'Anton'; 
  width: 238px;
  height: 57px; 
  background: none;
  border: 1px solid #FFFFFF; 
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
/*   делает наш текст ЗАГЛАВНЫМ ИЛИ СТАВИТ CAPS LOCK*/
  color: #FFFFFF;
  cursor: pointer; 
  display: flex;
/*  делает наш блок - контейнером и позволяет позиционировать элементы внутри себе  */
  justify-content: center;
/*  отвечает за горизонтальное позиционирование  */
  align-items: center;
/*   отвечает за вертикальное  позиционирование  */
}
/* псевдо класс */
.buttont:hover
{
  background-color: rgba(0, 0, 0, 0.3);
  left: 211px;
  top: 516px;
} 
.title3
{ 
  width: 450px;
  height: 44px;   
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px;
}


.container__top{
  width: 100%;
  display: flex;
  justify-content: center;
  background: center /  contain no-repeat url(./images/header-bg.jpg); 
  background-size: 100% 100%;
}

.conteiner__header
{
  display: flex; 
/*  изначально делает контейнер строкой */
  flex-direction: column;
/*   задает позиционирование сверху вниз */
  justify-content: start;
/*    */
  align-items: start;
/*    */
  margin-top:230px;
  
}
.conteiner__nav
{
  display: flex;
  justify-content: start;
  align-items: center;
  list-style:none;
  grid-column-gap: 30px;
   
} 
.nav_btn{
  border: none;
  background: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  
}
.number
{
  display: block;
  margin-left: auto;
  
}
.conteiner__down
{
  display: flex;
  flex-direction: column;
  margin-top: 113px; 
}
.conteiner__down_left
{
  width: 564px;
  min-width:564px;
}
.title__h2
{
  font-size: 50px;
  display:block
}
.title__h3
{
  font-size: 25px;
}
.text_down_left
{
  font-size: 16px;
  height: 192px;
}
.img2
{+
  margin-top: 113px;
  margin-right: 29px;
  
}
.conteiner__down_right
{
  width: 564px;
}
.title__h31
{
  font-size: 25px;
}
.text_down_right
{
  font-size: 16px;
  height: 192px;
}
.conteiner__down__wrapper
{
  display:flex;
  gap:36px;
}
.image__wrapper
{
  display:flex;
  gap:29px
}

  @media( max-width: 1140px)
{
 .container__body
  {
    width:100%; 
    padding: 10px;
    height: 650px;
  } 
  .conteiner__nav { 
    padding: 0 25px;
  }
  .conteiner__header{
    padding: 0 50px;
  }
  .title3 {
    font-size: 32px;
    width: 100%;
    text-align: start;
  }
  .title{
    font-size: 100px;
    line-height: 82px;
    margin-top: 30px;
  }
  .conteiner__down
  {
    align-items: center;
  }
  .conteiner__down__wrapper
  {
    flex-direction: column;
  }
  @media( max-width: 768px)
{
 .container__body
  {
    width:100%; 
    padding: 10px;
    height: 650px;
  } 
  .conteiner__nav { 
    grid-column-gap: 40px;
    padding: 0 15px;
  }
  .conteiner__header{
    margin-top: 115px;
    align-items: center;
  }
  .title3 {
    font-size: 32px;
    width: 100%;
    text-align: center;
  }
  .title{
    font-size: 100px;
    line-height: 82px;
    margin-top: 30px;
  }
}
@media( max-width: 360px)
{
 .container__body
  {
    width:100%; 
    padding: 10px;
  } 
  .conteiner__nav { 
    grid-column-gap: 2px;
    padding: 0 5px;
  }
  .conteiner__header{
    margin-top: 115px;
    align-items: center;
  }
  .title3 {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .title{
    font-size: 51px;
    line-height: 82px;
   margin-top:0;
  }
  .conteiner__down 
  {
    align-items: center;
    margin-top: 0px;
  }
  .conteiner__down_left 
  {
    width: 312px;
    min-width: 312px;
  }
  .image__wrapper 
  {
    flex-direction: column;
  }
  .conteiner__down_right 
  {
    width: 312px;
  }
  .img3
  {
    margin-top: 70px;  
    width: 100%;
  }
  
}
  


  

